mainframe/src/main/resources/application.properties
mainframe/uploads/1733267430140_breakfast.jpg
mainframe/uploads/1733271968547_cake.jpg
mainframe/uploads/1733276940366_one_pot.jpg
mainframe/src/main/resources/application.properties
frontend/package-lock.json
mainframe/uploads/1733438086744_cooking.jpg
mainframe/uploads/1733428121725_breakfast.jpg
frontend/package-lock.json

